.meal{
    color: forestgreen;

}
.meal h3{
color: black;
}
.meal .description{

    color: blueviolet;
    
}
.meal .price{
    color:brown
}
.form{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
