.cart-items{
    color: black;
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 1rem;
    font-weight: bold;

}
.actions{
    display: flex;
    justify-content: flex-end;
    width: 50rem;

}

.actions .button-alt{
    display: flex;
    justify-content: center;
    background-color: white;
    color: brown;
    padding: 1rem 4rem;
    border-radius: 30px;
    width: 3rem;
}
.actions button{
    background-color: maroon;
    color: white;
    display: flex;
    justify-content: center;
    width: 100px;
    padding: 1rem 4rem;
    border-radius: 30px;
    width: 3rem;
}